blockquote {
  /* so that position:absolute for ::before works */
  position: relative;
  margin: 0;
  padding: 15px 40px;
  font-size: 0.9em;
}

/* styled quotes in the margin of blockquotes */
blockquote::before {
  color: var(--text-color-alt);
  content: "\201C";
  font-size: 32px;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* no quotes for epigraphs */
.epigraph > blockquote::before {
  content: "";
}

/* also info blocks are kinda sorta these */
.info {
  /* TODO */
  position: relative;
  margin: 2em 0 1.5em;
  padding: 1em 1em 1em 0;
  border-left: 2.875em solid var(--bg-color);
}

.info::before {
  /* TODO */
  width: 2.875em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  padding: .75em;
  box-sizing: border-box;
}

.info p:last-child {
  margin-bottom: 0;
}

/* block colors */
.info.tip {
  /* TODO */
  border-left-color: #e3e3e3;
  background-color: #e3e3e3;
}
.info.note {
  /* TODO */
  border-left-color: #e3e3e3;
  background-color: #e3e3e3;
}
.info.warn {
  /* TODO */
  border-left-color: #ffe9ab;
  background-color: #ffe9ab;
}
.info.error {
  /* TODO */
  border-left-color: #ff594a;
  background-color: #ff594a;
}

/* icons for these blocks */
.info.tip::before {
  content: url(/img/icons/info-tip.svg);
}
.info.note::before {
  content: url(/img/icons/info-note.svg);
}
.info.warn::before {
  content: url(/img/icons/info-warn.svg);
}
.info.error::before {
  content: url(/img/icons/info-error.svg);
}
