body {
  font-family:
    /* OSX, iOS */
    Baskerville,

    /* Windows */
    Palatino,

    /* Linux */
    "Nimbus Roman No9 L",

    /* TODO: Android, check this */
    "Droid Serif",

    /* default */
    serif;

  font-size: 20px;
  margin: 0;
}

article.main {
  /* don't set a margin here (it would not get the bg-color) */
  color: var(--text-color);
  background-color: var(--bg-color);
  transition-property: color, background-color;
  transition-duration: 500ms;
}

article.main > * {
  /* looks right for now */
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--text-color-alt);
}

p {
  margin: 0 0 20px 0;
  padding: 0;
}

.metadata > p {
  font-style: italic;
}

.metadata {
  text-align: center;
  margin: 40px 0;
}

.metadata-status {
  font-size: 16px;
}

.status-separator {
  margin: 0px 15px;
}


h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  margin: 48px 0 40px 0;
}

h2 {
  font-weight: normal;
}

h3 {
  color: #CE9F79;
}

hr {
  margin: 2em 0;
  color: var(--text-color);
}

/* replace HR with asterisks */
hr:not(.footnotes-sep) {
  border: 0;
}
hr:not(.footnotes-sep)::before {
  /* content: "\2042"; asterism, but I don't like the look */
  content: '* * *';
  font-size: 28px;
  display: block;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;
}
