:root {
  /* colors for light and dark modes */
  --light-mode-bg: #fbfbfb;
  --light-mode-text: #222;
  --light-mode-text-alt: #777;
  --dark-mode-bg: #222;
  --dark-mode-text: #ddd;
  --dark-mode-text-alt: #bbb;
}
