---
#### Things that should be overridden by the page
title: Automatic Owl
description: TODO

#### Things that should not be overridden
# for automatic-owl-logo.svg
owlLogoSize: 48px

---
<!doctype html>
<html lang="en">
  <head>
    <!-- notice me, SEO senpai -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Automatic Owl</title>
    <meta name="description" content="{{ description }}">
    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }} | Automatic Owl">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@mikrostew">
    <meta name="twitter:image" content="https://automaticowl.net/img/site-logo.png">
    <!-- open graph -->
    <meta property="og:title" content="{{ title }} | Automatic Owl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://automaticowl.net{{ page.url }}" />
    <meta property="og:image" content="https://automaticowl.net/img/site-logo.png" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="Automatic Owl" />

    <link rel="stylesheet" type="text/css" href="/automaticowl.css" />
  </head>
  <body>
    <input class="theme" type="radio" id="auto" name="theme" value="auto" checked>
    <input class="theme" type="radio" id="light" name="theme" value="light">
    <input class="theme" type="radio" id="dark" name="theme" value="dark">
    <article class="main">
      <header>
        <div>
          <a href="/" class="header-link">automatic owl</a>
        </div>
        <div class="theme">
          <label for="auto" id="auto-label" title="Auto-select light or dark theme based on system setting">Auto</label><label for="light" id="light-label" title="Light theme">Light</label><label for="dark" id="dark-label" title="Dark theme">Dark</label>
        </div>
      </header>
{{ content | safe }}
      <footer>
        <a href="/">{% include "svg/automatic-owl-logo.svg" %}</a>
      </footer>
    </article>
  </body>
</html>
