---
layout: base-page

#### Things that should be overridden by the page
title: Automatic Owl
summary: Post template
inProgress: true
fileLocation: _includes/layouts/post.njk
initialCreationDate: Jan 1, 2020
lastEditDate: Jan 2, 2020

---
<section class="metadata">
  <h1>{{ title }}</h1>
  <p class="metadata-summary">{{ summary }}</p>
  <p class="metadata-status">{{ initialCreationDate }} &ndash; {{ lastEditDate }} (<a href="https://github.com/mikrostew/automaticowl.net/commits/master/{{ fileLocation }}" title="See the history of this page on GitHub">history</a>){% if inProgress %}<span class="status-separator">•</span>Work In Progress{% endif %}</p>
</section>
<section class="content">
{{ content | safe }}
</section>
