html {
  font-family:
    Baskerville, /* OSX */
    serif; /* default, when nothing else works */
}

body {
  max-width: 720px; /* looks about right */
  margin: 0 auto;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-top: 48px;
}

h2 {
  font-weight: normal;
}
