body {
  font-family:
    /* OSX, iOS */
    Baskerville,

    /* Windows */
    Palatino,

    /* Linux */
    "Nimbus Roman No9 L",

    /* TODO: Android, check this */
    "Droid Serif",

    /* default */
    serif;

  max-width: 720px; /* looks about right */
  margin: 0 auto;
  font-size: 20px;
}

a {
  /* just make these the same as the text color */
  color: black;
}

p {
  margin: 0 0 20px 0;
  padding: 0;
}

.metadata {
  font-style: italic;
  text-align: center;
  margin: 40px 0;
}

.metadata-status {
  font-size: 16px;
}

.status-separator {
  margin: 0px 15px;
}


h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  margin: 48px 0 40px 0;
}

h2 {
  font-weight: normal;
}
