:root {
  /* set light mode color as default value */
  --bg-color: var(--light-mode-bg);
  --text-color: var(--light-mode-text);
  --text-color-alt: var(--light-mode-text-alt);
  --light-auto-border: 1px dotted currentColor;
  --dark-auto-border: none;
}

/* auto-switch to dark mode based on system setting */
@media (prefers-color-scheme: dark) {
  body {
    --bg-color: var(--dark-mode-bg);
    --text-color: var(--dark-mode-text);
    --text-color-alt: var(--dark-mode-text-alt);
    --light-auto-border: none;
    --dark-auto-border: 1px dotted currentColor;
  }
}

/* switch based on which one is selected */
#light:checked ~ article {
  --bg-color: var(--light-mode-bg);
  --text-color: var(--light-mode-text);
  --text-color-alt: var(--light-mode-text-alt);
}
#dark:checked ~ article {
  --bg-color: var(--dark-mode-bg);
  --text-color: var(--dark-mode-text);
  --text-color-alt: var(--dark-mode-text-alt);
}

/* adapted from https://markheath.net/post/customize-radio-button-css */

/* hide the circular radio buttons */
input.theme {
  opacity: 0;
  position: fixed;
  width: 0;
}

/* default, unselected labels */
.theme label {
  display: inline-block;
  font-size: 14px;
  color: var(--text-color-alt);
  margin: 0 0.5em;
}

/* style the other labels when Auto is selected */
#auto:checked ~ article #light-label {
  border-bottom: var(--light-auto-border);
}
#auto:checked ~ article #dark-label {
  border-bottom: var(--dark-auto-border);
}

/* style when selected */
#auto:checked ~ article #auto-label,
#light:checked ~ article #light-label,
#dark:checked ~ article #dark-label {
  border-bottom: 1px solid currentColor;
}

/* style when focused */
#auto:focus ~ article #auto-label,
#light:focus ~ article #light-label,
#dark:focus ~ article #dark-label {
  border: 1px dotted var(--text-color-alt);
}

/* style when hovered */
.theme label:hover {
  color: var(--text-color);
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}
/* (need these to override the style when Auto is selected) */
#auto:checked ~ article #auto-label:hover,
#auto:checked ~ article #dark-label:hover,
#auto:checked ~ article #light-label:hover {
  color: var(--text-color);
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}
