---
# super simple CSS concatenation - see https://www.11ty.dev/docs/quicktips/concatenate/

permalink: automaticowl.css

# opt out of collections
eleventyExcludeFromCollections: true

---
{% include "css/variables.css" %}
{% include "css/theme.css" %}
{% include "css/page.css" %}
{% include "css/header.css" %}
{% include "css/epigraph.css" %}
{% include "css/blockquotes.css" %}
