---
layout: base-page

title: Home

---

<section class="metadata">
</section>

<section class="content">

Hey there! You've stumbled across my website. There's not much here at the moment, because I'm redoing everything.

<h2>Latest Posts</h2>
Newly completed posts, in reverse chronological order.

<h2>Recommended</h2>
Popular posts you might like (in no particular order).

<h2>Recent Updates</h2>
Things I have recently changed/edited/added (because I tend to work incrementally).

<h2>Everything</h2>
All posts, notes, etc.

</section>
