---
title: Automatic Owl

# for automatic-owl-logo.svg
owlLogoSize: 32px
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - automaticowl.net</title>
    <link rel="stylesheet" type="text/css" href="/theme.css" />
  </head>
  <body>
    <header>
      <div class="logo-and-name">
        <a href="/" class="logo-and-name-link">
          {% include "svg/automatic-owl-logo.svg" %}
          <span>automatic owl</span>
        </a>
      </div>
      <h1>{{ title }}</h1>
    </header>
    {{ content | safe }}
    <footer></footer>
  </body>
</html>
