---
#### Things that should be overridden by the page
title: Automatic Owl
summary: Post template
status: In Progress
fileLocation: _includes/layouts/post.njk
initialCreationDate: Jan 1, 2020
lastEditDate: Jan 2, 2020

#### Things that should not be overridden
# for automatic-owl-logo.svg
owlLogoSize: 32px

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - automaticowl.net</title>
    <link rel="stylesheet" type="text/css" href="/theme.css" />
  </head>
  <body>
    <header>
      <a href="/" class="header-link">automatic owl</a>
    </header>
    <article>
      <h1>{{ title }}</h1>
      <section class="metadata">
        <p class="metadata-summary">{{ summary }}</p>
        <p class="metadata-status">{{ initialCreationDate }} &ndash; {{ lastEditDate }} (<a href="https://github.com/mikrostew/automaticowl.net/commits/master/{{ fileLocation }}" title="See the history of this page on GitHub">history</a>)<span class="status-separator">•</span>{{ status }}</p>
      </section>
      <section class="main">
{{ content | safe }}
      </section>
    </article>
    <footer>
    <!-- TODO: flex layout here -->
{% include "svg/automatic-owl-logo.svg" %}
    </footer>
  </body>
</html>
